<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    {%load bootstrap5%}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container" style="padding: 20px;width: 30%;margin-top: 10%;">
        <center><img src="{%static 'img/LOGO.png'%}" alt="" width="100px" ></center>
        <h1 style="text-align: center;color: teal;">{{company_name}}</h1>
        <form method="post" style="width:80%;margin: auto;margin-top: 5%;">
            {% csrf_token%} 
             {{form}}
             <hr>
             <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    <p style="text-align: center;font-size: smaller;">Powered by : YB IT SOLUTIONS <br> &copy 2026</p>
</body>
</html>